doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default.navbar-static-top(role='navigation')
			.navbar-header
				a.navbar-brand(href='/') Lingo
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li
						a(href='/translate') translate
					li
						a(href='/quiz') quiz
	
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='javascripts/lib/main.js')
	block content